.navbar{
    display: flex;
    flex-direction: row;
}
.navbar a{
    font-family: 'Inter';
    font-weight: Bold;
    font-size: 28px;
	color: #000000;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;   
    align-items: center; 
}

body {
	background-color: #FBFAF5;
	
}


.logo{
    align-self: flex-start;
    color: #000000;
    font-family: "Jua";
    font-size: 100px;
    text-align: center;
    
}
