#nav-bar{
	background:#2C6E49;
	color: #FEE69C;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	width: 100%;
	height: 75px;
	align-items: center;
}

#nav-bar a{
	color: #FEE69C;
	font-size: 30px;
}

#nav-bar a:hover{
	color:#D32E05;
}

#nav-button:hover{
	color: #D32E05;
	cursor: pointer;
	text-shadow:#FEE69C 1px 0 10px;
	box-shadow:#FEE69C 1px 0 10px;
}

nav-button{
	width: 20px;
	height: 30px;
	border-radius: 50px;
	background-color: #2C6E49;
	border-color: #FEFEE3;
}

body{
	margin: 0;
	background: #FEFEE3;
	font-family: 'Lexend', sans-serif;
}

h1{
	text-align: center;
	font-family: Lexend;
	font-size: 165px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
h2{
	color:#D32E05;
	text-align: center;
	font-family: Krona One;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
h3{
	color: #2C6E49;
	text-align: center;
	font-family:Krona One;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
p{
	color: black;
	text-align: center;
	font-family: Cutive;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	word-spacing: 2px;
}

a:link{
	text-decoration: none;
}


/*------ HOME PAGE--------*/
.welcome-image{
	filter: blur(5px);
	background-color: #2C6E49;
}

.welcome-text{
	color: #FEFEE3;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%); 
	/*background-color: rgba(44, 110, 73, .5);*/
	text-shadow:#2C6E49 1px 0 10px;
}

/*.welcome-container{
	width: 100%;
	height: 700px;
	margin: 25px 0px 25px 0px;
}*/

.story{
	margin-left: 20%;
	margin-right: 20%;
}

.rect{
	width: 200px;
	height: 300px;
	border-radius: 50px;
	background: #a84909;
	margin-left: 20px;
	overflow:hidden
}
.rect:hover{
	box-shadow: 0px 4px 10px #2C6E49;
}

.preview{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.special-previews{
	display: flex;
	flex-direction: row;
}
.specials{
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.column{
	display: flex;
	flex-direction: column;
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 10px;
}

.HoursAndLocations{
	margin-top: 50px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 100px;
}

/*------ ORDER PAGE--------*/
.order-img{
	filter: blur(5px);
	background-color: #2C6E49;
}

.order-text{
	color: #FEFEE3;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%); 
	/*background-color: rgba(44, 110, 73, .5);*/
	text-shadow:#2C6E49 1px 0 10px;
}

.appetizers-previews{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.MeatAndVeggies{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.meatAndPoultry{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.drinks-previews{
	margin:15px 15px 15px 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.desserts-previews{
	margin:15px 15px 15px 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

