/* ADD ANY LINES OF CODE YOU DEEM NECESSARY FOR QUESTION 1*/

.button {
    display: inline-block;
    height: 50px;
    width: 50px;
    /* background: black; -not needed- */
    margin: 12px;
    cursor: pointer;
    opacity: 0.7;
}

#row {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body, html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    height: 100%;
    width: 100%;
    background: #f7f5f2;
    position: relative;
}

@keyframes spin {
    0%{rotate:0deg; border-radius: 0px;}
    10%{rotate:18deg; border-radius: 5px;}
    20%{rotate:36deg; border-radius: 10px;}
    30%{rotate:54deg; border-radius: 15px;}
    40%{rotate:72deg; border-radius: 20px;}
    50%{rotate:90deg; border-radius: 25px;}
    60%{rotate:108deg; border-radius: 30px}
    70%{rotate:126deg;border-radius: 35px}
    80%{rotate:144deg;border-radius: 40px}
    90%{rotate:162deg;border-radius: 45px}
    100%{rotate:180deg;border-radius: 50px}
}

.button:hover{
    animation: spin .45s;
}